<div class="jumbotron">

    <form [formGroup]="BookForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control"  formControlName="name" placeholder="name">
            
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Writer</label>
            <input type="text" class="form-control"  formControlName="writer"  placeholder="writer">
          </div>
          
        </div>
         
        <button  type="submit" class="btn btn-primary">Send a request</button> <br> 
        <br> <br>
      </form>
    </div>
