.bg-image{
  background: url(../../assets/background.jpg) ;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.login-area{
background-color:#000000  ;
font-family: 'Courier New', Courier, monospace;
color: rgb(253, 167, 6);
font-weight: bold;
}



.imge_logo{
  top: 5%;
  width: 100%;
}

.registre_point{
  margin-top: 10px;
}

.button_login{
  background-color: #f5a91d ;
  border-color: #f5a91d;
  width: 50%;
  margin-top: 25px;
  font-size: 30px;
  color: black;
}

.button_login:hover{
  color: black;
  background-color: white;
}

.form-group{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.form-control{
  border-radius: 30px;
}

.name_logo{
  font-weight: bold;
  padding-top: 15px;
} 
.xx { 
  background-color: black;
}